<div class="card">

  <h2>Liste des transactions</h2>


  <div class="resume">

    <p>
      <strong>Total des entrées :</strong>
      {{ totalEntrees() }} FCFA
    </p>

    <p>
      <strong>Total des sorties :</strong>
      {{ totalSorties() }} FCFA
    </p>

    <p>
      <strong>Solde actuel :</strong>
      <span [style.color]="soldeActuel() >= 0 ? 'green' : 'red'">
        {{ soldeActuel() }}
      </span>
      FCFA
    </p>

    <p>
      <strong>Score crédit :</strong>
      <span [style.color]="scoreCredit() === 'Éligible au micro-crédit' ? 'green' : 'red'">
        {{ scoreCredit() }}
      </span>
    </p>
    <p>
      <strong>Statut :</strong>
      <app-status-badge [status]="status" (onChangeStatus)="onChangeStatus($event)"></app-status-badge>
    </p>
  </div>


  <!-- <div class="filtres">

    <button (click)="filtreActif.set('tous'); pageCourante.set(1)">
      Toutes
    </button>

    <button (click)="filtreActif.set('CREDIT'); pageCourante.set(1)">
      Crédits
    </button>

    <button (click)="filtreActif.set('DEBIT'); pageCourante.set(1)">
      Débits
    </button>

  </div> -->


  <div class="toolbar mb-6">

    <!-- Recherche -->
    <div class="search-container">
      <app-filter-bar [(searchQuery)]="searchQuery">
      </app-filter-bar>
    </div>


    <!-- Actions -->
    <div class="actions-container">

      <button class="action-btn primary" (click)="ouvrirModal()">
        ➕ Transaction
      </button>


      <button class="action-btn" (click)="isProfileModalOpen.set(true)">
        👤 Profil
      </button>


      <button class="action-btn success" (click)="isTransferModalOpen.set(true)">
        💸 Virement
      </button>


      <button class="action-btn warning" (click)="isBeneficiaryModalOpen.set(true)">
        👥 Bénéficiaire
      </button>


      <button class="action-btn info" (click)="isBeneficiairesModalOpen.set(true)">
        📋 Liste
      </button>

    </div>

  </div>

  @if (isModalOpen()) {
  <div class="modal-overlay" (click)="isModalOpen.set(false)">
    <div class="modal" (click)="$event.stopPropagation()">

      <h3>Ajouter une transaction</h3>

      <input type="text" placeholder="Libellé" [value]="libelleForm()" (input)="libelleForm.set($event.target.value)">

      <input type="number" placeholder="Montant" [value]="montantForm()"
        (input)="montantForm.set($event.target.valueAsNumber)">

      <input type="text" placeholder="Motif" [value]="motifForm()" (input)="motifForm.set($event.target.value)">

      <select [value]="typeForm()" (change)="onTypeChange($event)">
        <option value="credit">Crédit</option>
        <option value="debit">Débit</option>
      </select>

      <select [value]="categorieForm()" (change)="onCategorieChange($event)">
        <option value="salaire">Salaire</option>
        <option value="nouriture">Nourriture</option>
        <option value="transport">Transport</option>
      </select>

      <div class="actions">
        <button (click)="isModalOpen.set(false)">
          Annuler
        </button>
        <button (click)="ajouterTransaction(); isModalOpen.set(false)">
          Ajouter
        </button>
      </div>

    </div>
  </div>
  }
  <!-- modalvirement -->
  @if (isTransferModalOpen()) {

  <div class="modal-overlay" (click)="isTransferModalOpen.set(false)">

    <div class="modal" (click)="$event.stopPropagation()">

      <h3>Effectuer un virement</h3>

      <app-transfer-form [balance]="soldeActuel()">
      </app-transfer-form>

      <div class="actions">
        <button (click)="isTransferModalOpen.set(false)">
          Fermer
        </button>
      </div>

    </div>

  </div>

  }
  <!-- modalBeneficiaire -->
  @if (isBeneficiaryModalOpen()) {

  <div class="modal-overlay" (click)="isBeneficiaryModalOpen.set(false)">


    <div class="modal" (click)="$event.stopPropagation()">


      <h3>
        Enregistrer un bénéficiaire
      </h3>


      <app-beneficiary-form (beneficiaireAjoute)="ajouterBeneficiaire($event)">
      </app-beneficiary-form>


      <div class="actions">

        <button (click)="isBeneficiaryModalOpen.set(false)">
          Fermer
        </button>

      </div>


    </div>

  </div>

  }
  @if (isProfileModalOpen()) {

  <div class="modal-overlay" (click)="isProfileModalOpen.set(false)">
    <div class="modal" (click)="$event.stopPropagation()">
      <app-user-profile (profilModifie)="modifierProfil($event)">
      </app-user-profile>
      <div class="actions">
        <button (click)="isProfileModalOpen.set(false)">
          Fermer
        </button>
      </div>
    </div>
  </div>

  }
  @if (isBeneficiairesModalOpen()) {

  <div class="modal-overlay" (click)="isBeneficiairesModalOpen.set(false)">


    <div class="modal" (click)="$event.stopPropagation()">


      <h3>
        Bénéficiaires enregistrés
      </h3>


      @if (beneficiaires().length === 0) {

      <p class="text-gray-500">
        Aucun bénéficiaire enregistré.
      </p>

      }


      @for (b of beneficiaires(); track $index) {

      <div class="p-4 border rounded-xl mb-3 shadow-sm">


        <p>
          <strong>Nom :</strong>
          {{ b.nom }}
        </p>


        <p>
          <strong>Type :</strong>
          {{ b.typeTransfert }}
        </p>


        <p>
          <strong>Identifiant :</strong>
          {{ b.identifiantDestination }}
        </p>


      </div>

      }


      <div class="actions">

        <button (click)="isBeneficiairesModalOpen.set(false)">
          Fermer
        </button>

      </div>


    </div>

  </div>

  }
  <table border="1">

    <thead>
      <tr>
        <th>Id</th>
        <th>Libelle</th>
        <th>Montant</th>
        <th>Motif</th>
        <th>Type</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      @for (t of transactionsPaginees(); track t.id) {

      <tr>

        <td>{{ t.id }}</td>
        <td>{{ t.libelle }}</td>

        <td>
          <span [style.color]="t.type === 'credit' ? 'green' : 'red'">
            {{ t.type === 'credit' ? '+' : '-' }}{{ t.montant }} FCFA
          </span>
        </td>

        <td>{{ t.motif }}</td>
        <td>{{ t.type }}</td>

        <td [style.color]="
              t.categorie === 'salaire'
                ? 'green'
                : t.categorie === 'nouriture'
                  ? 'red'
                  : 'blue'
            ">
          {{ t.categorie }}
        </td>
        <td>
          <button (click)="supprimerTransaction(t.id)">Supprimer</button>
        </td>
      </tr>
      }

    </tbody>

  </table>


  <div class="pagination">

    <button (click)="precedente()" [disabled]="boutonPrecedentDesactive()">
      Précédente
    </button>

    <span>
      Page {{ pageCourante() }} / {{ totalPages() }}
    </span>

    <button (click)="suivante()" [disabled]="boutonSuivantDesactive()">
      Suivante
    </button>

  </div>

</div>