.error-message {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}

.error-box {
  background-color: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  border-radius: 8px;
}
.input-error {
  border: 2px solid red;
}